{% extends 'base.html' %}
{% block article_block %}
  <article>
    <p>Introduce los datos para completar la compra</p>
    <form action="index.html">
      <input class="izquierda" type="text" name="nombre" placeholder="Nombre"><br>
      <input class="derecha3" type="text" name="apellidos" placeholder="Apellidos"><br>
      <input class="izquierda" type="text" name="correo" placeholder="Correo electrónico"><br>
      <input class="derecha4" type="text" name="direccion" placeholder="Dirección de envío"><br>
      <input class="tarjeta" type="text" name="tarjeta" placeholder="Tarjeta de crédito"><br>
      <input class="contenido" type="submit" value="Continuar"><br>

  </article>
{% endblock %}