<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="stylesheet.css">
    </head>

    <title>INICIA SESION</title>

    <body>
        <header>
          <h1><a href="index.html"><img src = "NETFLEX.png"></a>
            <div class="botones_arriba">
             <a href="login.html">
              <button class="boton_arriba">Inicio sesión</button>
            </a>
            <a href="registro.html">
            <button class="boton_arriba">Regístrate</button>
            </a>
          </div>
          </h1>
        </header>
        <nav>
          <ul>
            <form>
              <input class="lateral" type="search" name: "Buscador" value="🔎">
              <input class="lateral" type="submit" value="Buscar">
            </form>

            <li><a href="EN_DESARROLLO.html"><button>Carrito</button></a></li>
            <li><a href="EN_DESARROLLO.html"><button>Historial</button></a></li>
            <li>
              <form action="index.html">
                <select name="Géneros">
                    <option value="1">Todos</option>
                    <option value="2">Acción</option>
                    <option value="3">Aventura</option>
                    <option value="4">Thriller</option>
                    <option value="5">Romance</option>
                    <option value="6">Terror</option>
                    <option value="7">Comedia</option>
                    <option value="8">Ciencia Ficción</option>
                    <option value="9">Animación</option>
                </select>
                <input class="lateral" type="submit" value="Aceptar">
              </form>
            </li>
          </ul>
        </nav>


        <article>
            <img src="EN_DESARROLLO.png" class="desarrollo">
        </article>

        <footer>
            <p>@Copyright 2019 Anglex</p>
        </footer>
    </body>
</html>
